body {
    background: url("../images/back.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
    padding: 0px;
    margin: 0px;
	color: #054068;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: table;
}

.status {
    position: absolute;
    height: 60vh;
    width: 47vw;
    margin-left: 2vw;
    color: white;
    text-align: center;
}

.leader {
    position: absolute;
    height: 60vh;
    width: 47vw;
    margin-left: 51vw;
    color: white;
    text-align: center;
}

tr,table {
    color: white;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

td {
    color: white;
    text-align: center;
    width: 10vw;
}

th {
    color: white;
    text-align: center;
    border-style: solid;
    width: 10vw;
    border-color: white;
    border-width: 2px;
}

button {
    text-decoration: none;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    display: table-row;
    text-align: right;
    height: 1%;
}

#btn2 {
    text-decoration: none;
    padding: 5px;
    margin: 2%;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}